@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  background-color: #0D0D0D;
}

form {
  display: flex;
  align-items: center;
  width: auto;
  gap: 20px;
  border-radius: 2px;
  padding-left: 20px;
  background-color: #2c2c2c;
}

.icon-list {
  scale: 1.5;
  color: #26baff;
}

form input {
  flex: 1;
  height: 20px;
  border: none;
  font-weight: bold;
  background-color: #2c2c2c;
  color: #c2c2c2;
}

form button {
  display: flex;
  align-items: center;
  border: none;
  padding: 15px;
  background-color: #00ac7885;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 200ms;
}

form button:hover {
  background-color: #00ff9d;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  width: 80%;
  list-style: none;
  background-color: #1f1f1f;
  color: white;
}

.no-posts {
  height: 200px;
  width: 200px;
  background: none;
  opacity: 20%;
}

.list-container {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 0px 0px rgba(0, 27, 77, 0.295);
}

.list-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-right: 30px;
  padding: 10px;
  margin: 10px 0px 10px 20px;
  border-radius: 5px;
  color: #c2c2c2;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.elements-li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list {
  display: flex;
  align-items: center;
  text-decoration: line-through;
  opacity: 20%;
  padding: 10px 0px 10px 20px;
  margin: 10px 0px 10px 0px;
}

.check {
  opacity: 50%;
}

.list-container button {
  display: flex;
  align-items: center;
  margin-left: 10px;
  transform: scale(1.5);
  border: none;
  border-radius: 2px;
  background: none;
  color: rgb(0, 153, 255);
  cursor: pointer;
  transition: 200ms;
}

.checkbox-on {
  transition: 200ms;
  border-radius: 50%;
  background-color: #26baff;
  color: #26baff;
}

.popup {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.popup input {
  height: 25px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.315);
  font-weight: bold;
}

.list-container button:hover {
  background-color: #26baff57;
}

.remove-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(128, 0, 53, 0.801);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms;
}

.remove-button:hover {
  background-color: rgba(165, 0, 69, 0.801);
}

@media all and (max-width: 1000px) {
  .no-posts {
    transform: scale(0.5);
  }

  form {
    width: 100%;
    scale: 0.95;
  }

  .li {
    width: 100%;
  }

  body {
    font-size: 0.8em;
  }
}
