@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
}

form {
  display: flex;
  width: 300px;
}

form input {
  flex: 1;
  height: 30px;
  text-indent: 10px;
  border: none;
  color: #F25C05;
  font-weight: bold;
  font-family: cursive;
  margin-right: 10px;
  box-shadow: 0px 1px 10px 0px #0d0d0d31;
}

form button {
  border: none;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  background-color: rgb(0, 221, 155);
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.123);
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  list-style: none;
  background-color: #F25C05;
  color: white;
}

.no-posts {
  height: 200px;
  width: 200px;
  background: none;
}

.list-container {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #0D0D0D;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.list-container li {
  flex: 1;
  margin-right: 10px;
}

.list-container button {
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 2px;
  background: none;
  background-color: #0D0D0D;
  color: white;
}

.checkbox-on {
  transition: 200ms;
  border-radius: 50%;
  background-color: #F2CF66;
  color: #F2CF66;
}

.popup {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.popup input {
  height: 30px;
  text-indent: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.315);
  background-color: #0D0D0D;
  color: #F25C05;
  font-family: cursive;
  font-weight: bold;
}

.list-item {
  width: 200px;
}

.remove-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 0, 64);
  padding: 10px;
  color: white;
  font-weight: bold;
}






@media all and (max-width: 1000px) {
  .no-posts {
    transform: scale(0.5);
  }

  form {
    width: 100%;
    scale: 0.95;
  }

  .li {
    width: 100%;
  }

  body {
    font-size: 0.8em;
  }
}
